*{
  padding:0; 
  margin:0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}
html,body{
  width:100%;
  height: 100%;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.clearfix{
  *zoom:1
}
.hide{
  display:none;
}
.fr{
  float:right;
}
.fl{
  float: left;
}
.rela{
  position: relative;
}
.abs{
  position:absolute;
}

/*聊天界⾯*/
.chat-wrap{
  width: 100%; 
  height: 100%;
  overflow-y:scroll; 
  background-color: #f4f4f4;
  text-align:center;
}

.chat-wrap-top{
  position: relative;
  background-color: white;
  box-shadow: 0px -7px 15px #c3c4dd;
  padding: 15px;
  text-align: left;
}

.chat-wrap-top h3{
  font-size: 15px;
  font-weight: 600;
  color: #494949;
}

.leaveBtn{
  position: absolute;
  right: 10px;
  top: -3px;
  padding: 17px;
  border: none;
  color: #7062D1;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  opacity: .3;
}
.leaveBtn img{
  width: 15px;
}


.leaveBtn:hover{
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}


.chat-wrap-main{
  padding: 0 25px;
  padding-bottom: 70px;
}

.chat-con{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-con p{
  width: 50%;
  padding: 5px 20px; 
  font-size: 12px;
  border-radius:5px;
  margin: 15px 0;
  color: gray;
  border-radius: 20px;
  opacity: .7;
}
.bottom{
  position:fixed;
  bottom:0; 
  left: 0; 
  width:100%; 
  height: 100px;
  background: rgba(255,255,255,.8);
  padding-top: 30px;
}
.bottom input{
  width: calc(100% - 120px); 
  margin: 0 20px;
  height: 45px;
  border-radius: 35px;
  float:left;
  border:none;
  outline: none;
  line-height: 50px;
  padding: 0 20px;
  box-shadow: 0px 0px 12px #d5d6e5;
}
.bottom button {
  margin-right: 25px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  float: right;
  border: none;
  background: #979ae5;
  outline: none;
  color: #fff;
}
.bottom button:hover{
  filter: brightness(1.1);
  cursor: pointer;
  transition: .2s;
  transform: scale(1.05);
}

.sendBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendBtn img{
  width: 15px;
}

.chat-item {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.item-left .message {
  background: #979ae5;
  color: white;
  font-size: 15px;
  border-radius: 0px 15px 15px 15px;
  margin-top: 20px;
  padding: 15px !important;
  font-weight: 400;
}
.item-right .message {
  background: white; 
  color: #413177;
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px 0px 15px 15px;
  padding: 15px !important;
  margin-top: 20px;
  margin-right: 0;
}
.item-left .uname {
  font-size: 12px;
  left: 0px;
  top: 0;
  color: gray;
}
.item-right .uname {
  font-size: 12px;
  right: 0px;
  top: 0;
  color: gray;
}
.chat-item .message {
  display: block;
  padding: 10px;
}

/*登錄頁面*/
.login-wrap{
  background: repeating-linear-gradient(45deg, 
  #EAD7EA 0,#EAD7EA 15%, 
  #ccc7e8 30%,  #ccc7e8 45%,
  #EAD7EA 60%);
  width:100%;
  height:100%; 
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-con{
  padding: 50px 20px;
  background-color: white;
  border-radius: 25px;
  width: 70%;
  max-width: 500px;
}
.login-con p{
  font-size: 50px;
  margin-bottom: 20px;
}
.login-con span{
  font-size: 20px;
  font-weight: 600;
}
.login-con input{
  width:50%;
  min-width: 250px;
  display:block;
  margin: 20px auto; 
  height: 40px; 
  line-height:40px;
  border: none;
  background-color: #f4e8f4;
  padding: 0 20px;
  border-radius: 20px;
  outline: 0;
}
.login-con input::placeholder {
  color: #a19bc4;
}
.login-con button{
  width:50%;
  min-width: 250px;
  display:block; 
  margin:0 auto; 
  height: 40px; 
  line-height:40px;
  border:none; 
  background:#7062D1; 
  color:#fff; 
  border-radius:20px;
  margin-bottom: 20px;
  outline: 0;
}
.login-con button:hover{
  filter: brightness(.8);
  cursor: pointer;
}
